.checkout-page{
  padding:180px 7% 100px;
  background:#fdf7f2;
  min-height:100vh;
}

.checkout-title{
  text-align:center;
  margin-bottom:60px;
  font-size:2rem;
}

.checkout-grid{
  display:grid;
  grid-template-columns:1fr 420px;
  gap:40px;
}

.checkout-form,
.checkout-summary{
  background:white;
  padding:40px;
  border-radius:25px;
  box-shadow:0 10px 30px rgba(0,0,0,.06);
}

.checkout-form h3,
.checkout-summary h3{
  margin-bottom:25px;
  font-size:1.5rem;
}

.checkout-form input{
  width:100%;
  padding:18px;
  border-radius:14px;
  border:1px solid #ddd;
  margin-bottom:20px;
  font-size:1rem;
}

.summary-item{
  display:flex;
  justify-content:space-between;
  margin-bottom:18px;
}

.pay-btn{
  width:100%;
  padding:18px;
  border:none;
  background:#1f140f;
  color:white;
  border-radius:40px;
  font-size:1rem;
  margin-top:30px;
  cursor:pointer;
}

@media(max-width:900px){

  .checkout-grid{
    grid-template-columns:1fr;
  }

}