.wishlist-page{
  padding-top:180px;
  padding-bottom:120px;
}

.wishlist-header{
  text-align:center;
  margin-bottom:70px;
}

.wishlist-header h1{
  font-size:2rem;
  margin-bottom:20px;
}

.wishlist-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

@media(max-width:1100px){

  .wishlist-grid{
    grid-template-columns:repeat(2,1fr);
  }

}

@media(max-width:700px){

  .wishlist-grid{
    grid-template-columns:1fr;
  }

}